html,
body,
#root {
  height: 100%;
  /* height: 100%; */
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
